body {
    font-family: 'Roboto',  sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #1f2937;
    color: white;
    font-size: 34px;
    font-weight: 600;
    align-items: center;
}
.header-links {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 300;
}
.firstline {
    display: flex;
    padding-bottom: 7vw;
    padding-top: 7vw;
    padding-right: 15vw;
    padding-left: 15vw;
    background-color: #1f2937;
    gap: 50px;
    flex: 1;
    justify-content: space-between;
   
}
.awesome {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 40px;
    font-weight: 600;
    gap: 20px;
    
}
.mybutton {
    align-self: flex-start;
    background-color: #3882f6;
    font-size: 20px;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.awesometextdescription {
    font-size: 20px;
    font-weight: 300;
    flex-wrap: wrap;
}


.secondline {
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
}

.randominfo {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
    padding: 50px;
}

.cardsone {
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
    padding-right: 15vw;
    gap: 15px;
    
}

.cardstwo {
    display: flex;
    justify-content: space-between;
   
    
}

.cardsthree {
    display: flex;
    justify-content: space-between;
    
    
}

.cardsthreech {
    width: 260px;
    font-size: 20px;
    text-align: center;
    border: 5px solid transparent;
    
}

.cardsthreecha {

    width: 260px;
    height: 260px;
    border-radius: 10px;
    border: 5px solid #3882f6;  
}


.thirdline {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 10vw;
}

.speech {
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
}

.speechtwo {
    font-size: 25px;
    font-weight: 600;
    text-align: right;
}


.fourthline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    display: flex;
    flex: 1;
    height: 10vw;
    margin: 10vw;
    background-color:#3882f6;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.windowone {
    font-size: 40px;
    font-weight: 600;
}
.windowtwo {
    font-size: 20px;
}

.buttontwo {
    border:2px solid white;
    border-radius: 20px;
    color: white;
    background-color: #3882f6;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 3vw;
    font-size: 15px;
}
