body {
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
}
.header-links {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 300;
}